<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harpreetkaur_comp304_lab_assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CuisinesActivity"
            android:label="@string/app_name"
            android:theme="@style/menu_item_style" />
        <activity
            android:name=".FoodMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/menu_item_style" />
        <activity
            android:name=".CustomerInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CheckOutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".FinishOrderActivity"></activity>
    </application>

</manifest>